* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Road Rage';
  src: url('/fonts/RoadRage-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard Variable';
  src: url('/fonts/PretendardVariable.ttf') format('truetype');
  font-weight: 100 900; /* 가변 폰트의 가중치를 설정 */
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium 폰트의 가중치 */
  font-style: normal;
}
/* 라이트모드 */
:root {
  --splash-screen-background-color: #ffffff;
  --header-logo-image: url('./../assets/floelogo.png');
  --header-border-bottom-color: rgba(0, 0, 0, 0.2);
  --background-color: #ffffff;
  --text-color: #000000;
  --auth-left-box-bg-image: url('./../assets/floelogo.png');
  --auth-right-intro-title-color: #000000;
  --github-login-button-border: none;
  --divider-text-color: #000000;
  --divider-line-color: #333;
  --signup-button-backgroud-color: #ffffff;
  --signup-button-text-color: #000000;
  --signup-button-border-color: 1px solid #000000;
  --hover-text-color: #ffffff;
  --hover-background-color: #000000;
  --google-text-hover-color: #000000;
  --main-background-color: #f9fafa;

  --search-bar-border-color: rgba(0, 0, 0, 0.5);

  --nav-background-color: #f9fafa;
  --nav-bar-button-text-color: #000000;
  --nav-bar-button-background-color: #f9fafa;
  --nav-bar-button-hover-background-color: rgba(0, 0, 0, 0.3);
  --nav-bar-button-hover-text-color: #ffffff;

  --nav-bar-Home-icon: url('./../assets/HomeIcon_Dark.png');
  --nav-bar-Alarm-icon: url('./../assets/HeartIcon_Dark.png');
  --nav-bar-Add-icon: url('./../assets/AddIcon_Dark.png');
  --nav-bar-Save-icon: url('./../assets/SaveIcon_Dark.png');
  --nav-bar-Issue-icon: url('./../assets/IssueIcon_Dark.png');
  --nav-bar-More-icon: url('./../assets/MoreIcon_Dark.png');
  --nav-bar-Guest-icon: url('./../assets/GuestIcon_Dark.png');

  --nav-bar-Home-icon-Hover: url('./../assets/HomeIcon_White.png');
  --nav-bar-Alarm-icon-Hover: url('./../assets/HeartIcon_White.png');
  --nav-bar-Add-icon-Hover: url('./../assets/AddIcon_White.png');
  --nav-bar-Save-icon-Hover: url('./../assets/SaveIcon_White.png');
  --nav-bar-Issue-icon-Hover: url('./../assets/IssueIcon_White.png');
  --nav-bar-More-icon-Hover: url('./../assets/MoreIcon_White.png');
  --nav-bar-Guest-icon-Hover: url('./../assets/GuestIcon_White.png');

  --nav-active-button-background-color: #000000;
  --nav-active-button-text-color: #ffffff;

  --nav-bar-active-Home-icon: url('./../assets/HomeIcon_White.png');
  --nav-bar-active-Alarm-icon: url('./../assets/HeartIcon_White.png');
  --nav-bar-active-Add-icon: url('./../assets/AddIcon_White.png');
  --nav-bar-active-Save-icon: url('./../assets/SaveIcon_White.png');
  --nav-bar-active-Issue-icon: url('./../assets/IssueIcon_White.png');

  --nav-bar-popup-box-background-color: #ffffff;
  --nav-bar-popup-box-text-color: #000000;
  --nav-bar-popup-box-hover-background-color: #f0f0f0;

  --side-bar-background-color: ##f9fafa;
  --side-bar-title-background-color: #000000;
  --side-bar-title-text-color: #ffffff;
  --side-bar-intro-box-background-color: #eaeaea;
  --side-bar-box-background-color: #eaeaea;

  --post-item-background-color: #ffffff;
  --post-item-text-color: #000000;
  --post-item-border-color: #000000;

  --post-item-Heart-icon: url('./../assets/HeartIcon_Dark.png');
  --post-item-Comment-icon: url('./../assets/CommentIcon_Dark.png');
  --post-item-Save-icon: url('./../assets/SaveIcon_Dark.png');

  --post-item-Heart-icon-hover: url('./../assets/HeartIcon_Hover.png');
  --post-item-Comment-icon-hover: url('./../assets/CommentIcon_Hover.png');
  --post-item-Save-icon-hover: url('./../assets/SaveIcon_Hover.png');

  --post-item-Heart-icon-active: url('./../assets/HeartIcon_Active.png');
  --post-item-Comment-icon-active: url('./../assets/CommentIcon_Dark.png');
  --post-item-Save-icon-active: url('./../assets/SaveIcon_Dark.png');

  --toggle-Card-icon: url('./../assets/Card_Dark.png');
  --toggle-Card-icon-hover: url('./../assets/Card_Hover.png');
  --toggle-List-icon: url('./../assets/List_Dark.png');
  --toggle-List-icon-hover: url('./../assets/List_Hover.png');

  --post-image-icon: url('./../assets/ImageIcon_Dark.png');
  --post-image-icon-hover: url('./../assets/ImageIcon_Hover.png');
  --post-image-close-icon: url('./../assets/CloseIcon.png');
  --post-image-close-icon-hover: url('./../assets/CloseIcon_Hover.png');
  --post-Page-background-color: #f9fafa;
  --post-Page-Section-color: #ffffff;
  --post-Page-border-color: #dfdfdf71;
  --post-Page-text-color: #000000;
  --post-Page-placeholder-text-color: #888;
  --post-Page-Editor-Button-background-color: #eaeaea;
  --post-Page-Editor-Button-text-color: #000000;
  --post-Page-Editor-Button-background-color-hover: #4444;
  --post-Page-Editor-Button-text-color-hover: #000000;
  --post-Page-Upload-Button-background-color: #ffffff;
  --post-Page-Upload-Button-background-color-hover: #eaeaea;
  --post-Page-Upload-Button-text-color: #000000;

  --mypage-image-userInitialImage: url('./../assets/JJangGuWinter.png');
  --mypage-image-settingWhite: url('./../assets/settingWhite.png');
  --mypage-image-settingBlack: url('./../assets/settingBlack.png');

  --mypage-gray-color: #dbdbdb;
}
body {
  background-color: #f9fafa;
}

/* 다크 모드 변수 설정 */
.dark-mode {
  --splash-screen-background-color: #000000;
  --header-logo-image: url('./../assets/floelogo-dark.png');
  --header-border-bottom-color: rgba(255, 255, 255, 0.3);
  --background-color: #000000;
  --text-color: #ffffff;
  --auth-left-box-bg-image: url('./../assets/floelogo-dark.png');
  --auth-right-intro-title-color: #ffffff;
  --github-login-button-border: 1px solid #ffffff;
  --divider-text-color: #ffffff;
  --divider-line-color: #ffffff;
  --signup-button-backgroud-color: #000000;
  --signup-button-text-color: #ffffff;
  --signup-button-border-color: 1px solid #ffffff;
  --hover-text-color: #000000;
  --hover-background-color: #ffffff;
  --google-text-hover-color: #000000;

  --search-bar-border-color: rgba(255, 255, 255, 0.5);

  --main-background-color: #000000;

  --nav-background-color: #000000;
  --nav-bar-button-text-color: #ffffff;
  --nav-bar-button-background-color: #000000;
  --nav-bar-button-hover-background-color: rgba(211, 211, 211, 0.6);
  --nav-bar-button-hover-text-color: #000000;

  --nav-bar-Home-icon: url('./../assets/HomeIcon_White.png');
  --nav-bar-Alarm-icon: url('./../assets/HeartIcon_White.png');
  --nav-bar-Add-icon: url('./../assets/AddIcon_White.png');
  --nav-bar-Save-icon: url('./../assets/SaveIcon_White.png');
  --nav-bar-Issue-icon: url('./../assets/IssueIcon_White.png');
  --nav-bar-More-icon: url('./../assets/MoreIcon_White.png');
  --nav-bar-Guest-icon: url('./../assets/GuestIcon_White.png');

  --nav-bar-Home-icon-Hover: url('./../assets/HomeIcon_Dark.png');
  --nav-bar-Alarm-icon-Hover: url('./../assets/HeartIcon_Dark.png');
  --nav-bar-Add-icon-Hover: url('./../assets/AddIcon_Dark.png');
  --nav-bar-Save-icon-Hover: url('./../assets/SaveIcon_Dark.png');
  --nav-bar-Issue-icon-Hover: url('./../assets/IssueIcon_Dark.png');
  --nav-bar-More-icon-Hover: url('./../assets/MoreIcon_Dark.png');
  --nav-bar-Guest-icon-Hover: url('./../assets/GuestIcon_Dark.png');

  --nav-active-button-background-color: #ffffff;
  --nav-active-button-text-color: #000000;

  --nav-bar-active-Home-icon: url('./../assets/HomeIcon_Dark.png');
  --nav-bar-active-Alarm-icon: url('./../assets/HeartIcon_Dark.png');
  --nav-bar-active-Add-icon: url('./../assets/AddIcon_Dark.png');
  --nav-bar-active-Save-icon: url('./../assets/SaveIcon_Dark.png');
  --nav-bar-active-Issue-icon: url('./../assets/IssueIcon_Dark.png');

  --nav-bar-popup-box-background-color: rgba(211, 211, 211, 0.8);
  --nav-bar-popup-box-text-color: #000000;
  --nav-bar-popup-box-hover-background-color: #f0f0f0;

  --side-bar-background-color: #000000;
  --side-bar-title-background-color: #ffffff;
  --side-bar-title-text-color: #000000;
  --side-bar-intro-box-background-color: #eaeaea;
  --side-bar-box-background-color: rgba(211, 211, 211, 0.8);

  --post-item-background-color: #000000;
  --post-item-text-color: #ffffff;
  --post-item-border-color: rgba(211, 211, 211, 0.8);

  --post-item-Heart-icon: url('./../assets/HeartIcon_White.png');
  --post-item-Comment-icon: url('./../assets/CommentIcon_White.png');
  --post-item-Save-icon: url('./../assets/SaveIcon_White.png');

  --post-item-Heart-icon-hover: url('./../assets/HeartIcon_Hover.png');
  --post-item-Comment-icon-hover: url('./../assets/CommentIcon_Hover.png');
  --post-item-Save-icon-hover: url('./../assets/SaveIcon_Hover.png');

  --post-item-Heart-icon-active: url('./../assets/HeartIcon_Dark.png');
  --post-item-Comment-icon-active: url('./../assets/CommentIcon_Dark.png');
  --post-item-Save-icon-active: url('./../assets/SaveIcon_Dark.png');
  --toggle-Card-icon: url('./../assets/Card_White.png');
  --toggle-Card-icon-hover: url('./../assets/Card_Hover.png');
  --toggle-List-icon: url('./../assets/List_White.png');
  --toggle-List-icon-hover: url('./../assets/List_Hover.png');

  --post-image-icon: url('./../assets/ImageIcon_White.png');
  --post-image-icon-hover: url('./../assets/ImageIcon_Hover.png');
  --post-image-close-icon: url('./../assets/CloseIcon.png');
  --post-image-close-icon-hover: url('./../assets/CloseIcon_Hover.png');
  --post-Page-background-color: #000000;
  --post-Page-Section-color: rgba(57, 57, 57, 0.6);
  --post-Page-border-color: #dfdfdf71;
  --post-Page-text-color: #ffffff;
  --post-Page-placeholder-text-color: #888;
  --post-Page-Editor-Button-background-color: #000000;
  --post-Page-Editor-Button-text-color: #ffffff;
  --post-Page-Editor-Button-background-color-hover: #444;
  --post-Page-Editor-Button-text-color-hover: #ffffff;
  --post-Page-Upload-Button-background-color: rgba(57, 57, 57, 0.6);
  --post-Page-Upload-Button-background-color-hover: #000000;
  --post-Page-Upload-Button-text-color: #ffffff;
}
