.splash-screen {
  display: flex;
  flex-direction: column;
  background-color: var(--splash-screen-background-color);
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

.onboard-image {
  background-image: var(--auth-left-box-bg-image);
  background-position: center;
  background-size: cover;
  width: 400px; /* 적절한 너비 설정 */
  height: 400px; /* 적절한 높이 설정 */
  margin-bottom: 20px; /* 이미지와 텍스트 간격 조정 */
  border-radius: 100px;
}

.onboard-text {
  color: var(--text-color);
  font-family: 'Pretendard Variable';

  font-size: 20px;
}
.fade-out {
  opacity: 0;
}
.page-container {
  display: grid;
  grid-template-columns: 400px 1fr 420px;
  gap: 20px;
  width: 100%;
  max-width: 1920px; /* 전체 너비 제한 */
  margin: 0 auto;
  padding-top: 157px;
  background-color: var(--main-background-color);
}

.navbar {
  position: sticky;
  top: 157px;
  width: 170px; /* Navbar 너비 고정 */
  align-self: start; /* 스크롤 시 시작 위치에 고정 */
  height: calc(100vh - 157px);
}
.main-content {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.sidebar {
  height: auto;
}
.banner {
  width: 100%;
  height: 150px;
  border-radius: 25px;
}
.toggle-button {
  position: absolute;
  top: 147px;
  right: 0px;
  width: 70px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  justify-content: space-between;
}

.card-icon {
  background-image: var(--toggle-Card-icon);
  width: 30px;
  cursor: pointer;
  height: 30px;
  background-color: var(--main-background-color);
  border: none;
}
.list-icon {
  background-image: var(--toggle-List-icon);
  width: 30px;
  cursor: pointer;
  height: 30px;
  background-color: var(--main-background-color);
  border: none;
}
.card-icon:hover {
  background-image: var(--toggle-Card-icon-hover);
}
.list-icon:hover {
  background-image: var(--toggle-List-icon-hover);
}
