.github-login-button {
  font-family: 'Roboto Medium';

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px; /* 아이콘과 텍스트 간격 */

  font-size: 20px;

  width: 300px;
  height: 60px;
  color: #ffffff;
  background-color: #000000;
  border: var(--github-login-button-border);
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  text-decoration: none;
  margin-bottom: 59px;
}

.github-login-button:hover {
  background-color: #333333; /* 호버 시 더 진한 회색 */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.github-icon {
  background-image: url('./../../../assets/github.png');
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
}
