.mypage-Container {
  display: grid;
  grid-template-columns: 400px 1fr 320px;
  gap: 20px;
  width: 100%;
  max-width: 1920px; /* 전체 너비 제한 */
  margin: 0 auto;
  padding-top: 157px;
  height: auto;
  background-color: var(--main-background-color);
}
.navbar {
  position: sticky;
  top: 157px;
  width: 170px; /* Navbar 너비 고정 */
  align-self: start; /* 스크롤 시 시작 위치에 고정 */
  height: calc(100vh - 157px);
}

.user-Contents {
  display: flex;
  flex-direction: column;
}

.user-Info {
  width: 48rem;
  /* height: 12rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin : 2rem 0rem;
}

.user-Image {
  width: 7rem;
  height: 7rem;
  background-image: var(--mypage-image-userInitialImage);
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border: 0.5px solid gray;
  border-radius: 50%;

  margin-right: 1rem;
}

.user-Data-Wrapper {
  width: 20rem;
  /* height: 8rem; */
  display: flex;
  flex-direction: column;
  font-family: 'Pretendard Variable';
  text-align: end;
  align-items: end;
}

.user-Data {
  width: 10rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  font-family: 'Pretendard Variable';
  text-align: end;

  margin-left: 1rem;
}

.user-Posts {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: end;
  justify-content: space-between;
}
.user-Followers {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: end;
  justify-content: space-between;
}
.user-Following {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: end;
  justify-content: space-between;
}
.data-Number {
  width: 3rem;
}


.user-Edit {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content : space-between;
  gap:1rem;
}

.user-setting {
  width: 1.125rem;
  height: 1.25rem;
  background-image: var(--mypage-image-settingBlack);
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: transparent; /* 배경 투명 설정 */
  padding: 0rem;
}

.edit-Button {
  width: 5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--mypage-Edit-color);
  cursor:pointer;
}
.user-Name {
  font-size: 1.25rem;
}

.tab-Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-contnet: space-between;
}